<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B5EB7111E8A390E00D2F260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B5EB72A1E8A390F00D2F260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B5EB7351E8A390F00D2F260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
